@keyframes arrow-jump {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Bebas Neue" !important;
  font-weight: bold !important;
}

p,
a,
label,
span,
li {
  font-family: "Varta" !important;
}

.info-list {
  text-align: left;
  width: 85%;
  margin: auto;
  font-size: 18px;
}

.info-list-item {
  margin-bottom: 5px;
}

.section-header {
  font-size: 48px;
  margin: auto;
  text-align: center;
  width: 96%;
}

.section-subheader {
  font-size: 32px;
  margin: auto;
  text-align: center;
  width: 98%;
}

.section-caption {
  font-size: 22px;
  width: 90%;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.short-section {
  height: 600px;
}

.section {
  height: 850px;
  position: relative;
  overflow: hidden;
}

.long-section {
  height: 1200px;
}

.body-text {
  margin: auto;
  width: 85%;
}

.large-body-text {
  margin: auto;
  width: 85%;
  font-size: 17px;
}

a {
  color: skyblue
}

.page-container {
  padding-top: 100px;
  color: white;
}

.red-background {
  background-color: #a7171a;
}

.link-no-decoration {
  color: rgb(0, 0, 0, 0.87);
  text-decoration: none;
}

.center-text {
  text-align: center;
}

.social-icon-container {
  flex-basis: 20%;
  text-align: center;
  margin: auto;
}

.social-icon-link {
  color: white;
}

.margin-top {
  margin-top: 25px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.padding-bottom {
  padding-bottom: 55px;
}

.button {
  font-size: 2rem !important;
  margin: 50px !important;
}

/* Homepage slideshow */

.section-with-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 825px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.section-with-background-image.active {
  opacity: 0.8;
  pointer-events: auto;
}

#judge-slide {
  background-image: url('/public/images/frank_aaron_judge.jpg');
}

#mariano-slide {
  background-image: url('/public/images/Mariano_Rivera.JPG');
}

#oswaldo-slide {
  background-image: url('/public/images/Oswaldo_Cabrera.png');
}

#paul-oneil-slide {
  background-image: url('/public/images/Paul_ONeill.png');
}

#elijah-slide {
  background-image: url('/public/images/Elijah_Dunham.png');
}

#boone-slide {
  background-image: url('/public/images/Boone_Johnny.png');
}

.landing-page-logo {
  width: 50%;
  flex-basis: 20%;
  max-width: 40px;
  margin-left: 10px;
}

/* Home component styles */
.home-container {
  color: white;
  background: black;
  text-align: center;
}

.moving-arrow {
  animation: arrow-jump 1s infinite;
  color: white;
}

.landing-page-logo-container {
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}